<div class="movie-block" data-movie-id="{{ movie['Id'] }}">
    <div class="movie-info">
        <h3>{{ movie['Name'] }}</h3>
        <p>{{ movie['Year'] }}</p>
    </div>
    <!-- Slider initialized with the movie's rating or default to 0 -->
    <input type="range" min="0" max="5" value="{{ movie['rating'] | default(0) }}" step="0.5" class="rating-slider" id="rating-{{ movie['Id'] }}" oninput="updateRating({{ movie['Id'] }}, this.value)">
    <p>Rating: <span id="rating-value-{{ movie['Id'] }}">{{ movie['rating'] | default(0) }}</span></p>
</div>

