<div class="movie-block" data-movie-id="{{ movie['Id'] }}">
    <div class="movie-info">
        <h3>{{ movie['Name'] }}</h3>
        <p>{{ movie['Year'] }}</p>
    </div>
    <!-- Slider initialized with the movie's rating or default to 0 -->
    <input type="range" min="0" max="5" value="{{ Rating | default(0) }}" step="0.5" class="rating-slider"
        id="{{ Type }}-rating-{{ movie['Id'] }}" {% if disable_slider %} disabled {% endif %} oninput="updateRating({{ movie['Id'] }},'{{ Type }}', this.value)">
    <p>Rating: <span id="{{ Type }}-rating-value-{{ movie['Id'] }}">{{ Rating | default(0) }}</span></p>
</div>
